@model List<Pizzashop.DAL.ViewModels.ModifierItemViewModel>

    @foreach(var item in Model)
        {
        <span class="p-1 me-2 fw-medium existModifiers" data-mgitemid="@item.ModifierItemId" data-mgitemname=@item.Name style="border: 1px solid grey; border-radius: 15px;">
            @item.Name
            <button type="button" class="btn btn-close removeAddedModifierItem" data-mgitemid="@item.Name"></button>
        </span>
}

