@model List<Pizzashop.DAL.ViewModels.ModifierItemViewModel>

    @foreach(var item in Model)
        {
        <span class="p-1 me-2 fw-medium existModifiersForEdit" data-mgitemid="@item.ModifierItemId" data-mgitemname=@item.Name style="border: 1px solid grey; border-radius: 15px; margin-bottom: 20px; display: inline-block;" >
            @item.Name
            <button type="button" class="btn btn-close removeAddedModifierItemForEdit " data-mgitemid="@item.ModifierItemId"></button>
        </span>
}

