@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
    <script>
        $(document).ready(function () {
            @if (TempData["LoginSuccess"] != null && (bool)TempData["LoginSuccess"])
            {
                <text>
                    showToastrNotification('success', 'User logged in successfully!');
                </text>
            }
             @if (TempData["AddSectionSuccess"] != null && (bool)TempData["AddSectionSuccess"])
            {
                <text>
                    showToastrNotification('success', 'Section Added successfully!');
                </text>
            }
             @if (TempData["ProfileUpdateSuccess"] != null && (bool)TempData["ProfileUpdateSuccess"])
            {
                <text>
                    showToastrNotification('success', 'Profile Updated successfully!');
                </text>
            }
        });
    </script>
}