@model List<Pizzashop.DAL.ViewModels.waitingtokenviewmodel>


<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>ID</th>
      <th>NAME</th>
      <th>No Of Person</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
        <tr>
          <td>
            <span  class="form-check" >
         <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
         </span>
        </td>
            <th>@item.Id</th>
            <td>@item.Name</td>
            <td class="ps-5" >@item.NoOfPerson</td>
        </tr>
    }
  </tbodtd
