*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

/*************************** navbar *********************/
.navbar{
    height: 70px;
    background-color: #0066A7;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.company-logo{
    height: 100%;
    width: 250px;
    padding: 15px;

    @media screen and (max-width: 992px){
        background-color: #0066A7; 
        width: fit-content; 
    }
}


#company-logo-img{
    height: 50px;
    /* border: 1px solid white; */
    /* background-color: white; */
}

#company-name{
    color: white;
    letter-spacing: 1.5px;
}

#profile-pic{
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}

.profile-items{
    text-decoration: none;
    color : black;
    display: flex;
    justify-content: flex-start;
    padding: 0px 0px;
    margin-bottom: 15px;
    font-size: 15px;
    gap: 10px;
    margin-left: 15px;
}


#User-Profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 16px;
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    gap: 8px;
}

#profile-pic-drop{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}

/* navbar card for Order App  */

.navbar-card {
    border: 1px solid white;
    border-radius: 12px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1); 
    transition: all 0.15s ease-in-out;
    display: flex;
    align-items: center;
}

.navbar-card:hover {
    background-color: white;
    color: #0066A7;
    cursor: pointer;
}

.navbar-card-selected {
    border: 1px solid #ffffff;
    border-radius: 12px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: #305d7a44; 
    display: flex;
    align-items: center;
}