
.special-color{
    color: #0066A7;
}

.kot-container
{
    background-color: #F2F2F2;
    padding: 20px 40px;
}

.kot-nav {
    display: flex; 
    flex-wrap: nowrap; 
    overflow-x: auto;
    max-width: 100%; 
}


/* user table  */
.kot-list-tab{
    padding: 3px 15px;
    padding-bottom: 0px;
    margin: 0px 0px !important;
    margin-bottom: 12px !important;
    box-shadow: 0px 1px 3px rgba(85, 85, 85, 0.3);
}

.nav-link {
    border: none;
    border-bottom: 2px solid transparent;
    margin-right: 10px;
    background-color: white;
}

.tab-btn{
    color: grey !important;
    font-size: 17px !important;
    padding: 10px 5px !important;
    font-weight: bold;
    opacity: 0.85;
}

.tab-btn:hover{
    color: black !important;
    opacity: 0.75;
}


.nav-link.active {
    border-bottom: 3px solid #0066A7;
    color: #0066A7 !important;
    font-weight: 600;
    opacity: 1;
}

.nav-link:focus {
    box-shadow: none;
}


/* ------------------------ KOT Grid ---------------------- */
.inprogress-ready-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 3px;
    padding: 6px 9px;
    font-weight: bolder;
    cursor: pointer;
    background-color: none;
    color: #0066A7;
    border: 1px solid #0066A7;
}

.active-btn
{
    background-color: #0066A7;
    color: white;
}

.light-btn
{
    background-color: none;
    color: #0066A7;
    border: 1px solid #0066A7;
}

.next-back-btn
{
    width: 30px;
}

/* ------------------------ KOT Grid Card---------------------- */
.KOT-Card-List-Container
{
    overflow: hidden;
}

.card-wrapper {
    transition: transform 0.5s ease;
}

.main-container-KOT
{
    overflow-x: auto;
}

.KOT-Card
{
    width: 342px !important;
    height: 330px;
    border-radius: 5px;
    border: 1px dashed #c5c5c5;
    flex: 0 0 auto;
    font-size: 15px;
    flex-shrink: 0;
}

.Card-Header, .Card-Footer
{
    height: 60px;
    padding: 3px 5px;
    background-color: #F2F2F2;
}

.Card-Content
{
    overflow-y: auto;
    flex-grow: 1;
    padding: 5px 10px;   
    color: black;
    opacity: 0.80;
}

.hidden {
    display: none !important;
}


/* General Adjustments */
.kot-container {
    padding: 20px 10px; 
}
/* 
@media (min-width: 1024px) {
    .kot-container {
        padding: 20px 40px; 
    }
    
} */

.kot-nav {
    overflow-x: auto; 
    white-space: nowrap;
}

.nav-link {
    flex: 0 0 auto;
}

.KOT-Card {
    width: 100%; 
}


@media (max-width: 768px) {
    .KOT-Card {
        width: 90%; 
        margin: 0 auto; 
    }
    
    .tab-btn {
        font-size: 15px; 
        padding: 8px 4px; 
    }

    .inprogress-ready-btn {
        font-size: 12px; 
        padding: 4px 8px; 
    }

    .next-back-btn {
        width: 25px; 
    }
}

@media (max-width: 576px) {
    .tab-btn {
        font-size: 14px; 
    }

    .KOT-Card {
        height: auto; 
    }
}

.inprogress-ready-btn.active {
    background-color: #0066bb; 
    color: white;
}
