div.statusTimeDropdown {
    min-width: 300px;
    border-radius: 10px;
  }
  
  
  #export-btn{
    background-color: #0066A7;
    color: white;
    border-radius: 4px;
  }

  @media (max-width: 991px) {
    .dateSelection {
        min-width: 275px;
    }
  }
  
  @media (max-width: 1450px) {
    div.statusTimeDropdown {
        min-width: 200px;
    }
  }

  .table-name{
    color: black;
    font-weight: normal;
  }

  @media(max-width:1023px)
  {
    .heading{
      align-items: center !important;
    }
  }

  @media(min-width:1200px)
  {
    .heading{
      align-items: center !important;
    }
  }
  @media(width:768px){
    .search {
      height: 50px !important;
  }
  }
@media (width:425px) {
  .crpage{
    display:hidden !important;
  }
  .search {
    height: 55px !important;
}
}
  
@media (width: 375px) {
  .search {
      height: 55px !important;
      width: 270px !important;
  }
}

@media(min-width:1438px)
{
  .back-button{
    margin-left: 930px !important;
  }
}